{% extends "layout.html" %} {% block body %}

<div class="container mt-5">
	<div class="row">
		<div class="col-md-6">
			<h2>Contact Us</h2>
			<p>Please use the form below to get in touch with us.</p>
			<form method="POST" action="/contact">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type="text" class="form-control" id="cname" name="cname" />
				</div>
				<div class="form-group">
					<label for="email">Email:</label>
					<input type="email" class="form-control" id="cemail" name="cemail" />
				</div>
				<div class="form-group">
					<label for="message">Message:</label>
					<textarea class="form-control" id="cmessage" name="cmessage"></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
		<div class="col-md-6">
			<h2>Address</h2>
			<p>Indian Railway Corporation Ltd.,</p>
			<p>New Delhi 110001</p>
			<p>Phone: 14346</p>
			<p>Toll-Free Number: 0755-6610661</p>
			<p>Email: info@railwaybooking.gov.in</p>
		</div>
	</div>
</div>
{% endblock %}