{% extends "layout.html" %} {% block body %}
<section class="section">
    <form action="/login" id="loginBody" method="post">
        <div class="container-fluid" id="loginContainer">
            <div class="card has-background-success-light">
                <header class="card-header has-background-success-dark ">
                    <p class="card-header-title is-1"> LOGIN</p>
                </header>
                <div class="loginBody">
                    <div class="card-content is-half-widescreen">
                        <div class="content">
                            <div class="field">
                                <label class="label">Username <span>*</span></label>
                                <div class="control has-icons-left has-icons-right">
                                    <input class="input is-info Rounded input" type="text" placeholder="Enter Username"
                                        required id="loginUsername" name="loginUsername">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <span class="icon is-small is-right">
                                        <i class="fas fa-check"></i>
                                    </span>
                                    <p class="help is-success" id="correctUser"></p>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">E-mail Id <span>*</span> </label>
                                <p class="control has-icons-left has-icons-right">
                                    <input class="input" type="email" placeholder="Email" required id="loginEmailId"
                                        name="loginEmailId">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                    <span class="icon is-small is-right">
                                        <i class="fas fa-check"></i>
                                    </span>
                                </p>
                                <p class="help is-success" id="correctEmail"></p>
                            </div>
                            <div class="field">
                                <label class="label">Password <span>*</span> </label>
                                <p class="control has-icons-left">
                                    <input class="input" type="password" placeholder="Password" required id="loginPwd"
                                        name="loginPwd">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </p>
                                <p class="help is-success" id="correctPwd"></p>
                                <p class="help is-success has-text-right-desktop"><a class="has-text-link-dark"
                                        href="/register">Click for Sign up !!</a></p>
                            </div>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <div class="control">
                            <button class="button is-link has-background-success-dark " onclick="checkLogin()"
                                id="loginBtn" type="submit">
                                LogIn </button>
                        </div>
                        <div class="control">
                            <button class="button is-link has-background-danger-dark" id="loginReset"
                                type="reset">Reset</button>
                        </div>
                        <div class="control">
                            <button class="button is-link has-background-info-dark">Cancel</button>
                        </div>
                    </footer>
                </div>
            </div>
    </form>
</section>
<div>
    <div class="control columns container-fluid" id="googleBtn">
        <button class="button is-link has-background-success-dark colu" id="loginReset" type="reset">
            <i class="fa-brands fa-google"> </i> &nbsp;&nbsp;Sign-In with
            Google</button>
    </div>
</div>

{% endblock %}